# Data Analysis with Pandas
* Video Game Stats
* Jesse Pena
* 5/27/2020

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

* Which company is the most common video game publisher
* What’s the most common platform
* What about the most common genre
* What are the top 20 highest grossing games
* For North American video game sales, what’s the median
    * Provide secondary output showing ten games surrounding the median sales output
        * assume that games with same median value are sorted in descending order
* For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?
* The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?
* Come up with 3 more questions that can be answered with this data set.

In [2]:
vg_df = pd.read_csv("vgsales.csv")
vg_df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

## Which company is the most common video game publisher?
* solution found [here](https://stackoverflow.com/a/15139677)

In [3]:
vg_df['Publisher'].value_counts().max()
print(vg_df['Publisher'].value_counts().max())
vg_df['Publisher'].value_counts().idxmax()

1351

'Electronic Arts'

## What’s the most common platform?
* used same solution from previous question

In [4]:
vg_df['Platform'].value_counts().max()
print(vg_df['Platform'].value_counts().max())
vg_df['Platform'].value_counts().idxmax()

2163

'DS'

## What about the most common genre?
* same solution from first question

In [5]:
vg_df['Genre'].value_counts().max()
print(vg_df['Genre'].value_counts().max())
vg_df['Genre'].value_counts().idxmax()

3316

'Action'

## What are the top 20 highest grossing games?
* solution found [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.nlargest.html)

In [6]:
vg_df.nlargest(20,["Global_Sales"])

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31
10,11,Nintendogs,DS,2005.0,Simulation,Nintendo,9.07,11.00,1.93,2.75,24.76
11,12,Mario Kart DS,DS,2005.0,Racing,Nintendo,9.81,7.57,4.13,1.92,23.42
12,13,Pokemon Gold/Pokemon Silver,GB,1999.0,Role-Playing,Nintendo,9.00,6.18,7.20,0.71,23.10
13,14,Wii Fit,Wii,2007.0,Sports,Nintendo,8.94,8.03,3.60,2.15,22.72
14,15,Wii Fit Plus,Wii,2009.0,Sports,Nintendo,9.09,8.59,2.53,1.79,22.00
15,16,Kinect Adventures!,X360,2010.0,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82
16,17,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
17,18,Grand Theft Auto: San Andreas,PS2,2004.0,Action,Take-Two Interactive,9.43,0.40,0.41,10.57,20.81
18,19,Super Mario World,SNES,1990.0,Platform,Nintendo,12.78,3.75,3.54,0.55,20.61
19,20,Brain Age: Train Your Brain in Minutes a Day,DS,2005.0,Misc,Nintendo,4.75,9.26,4.16,2.05,20.22

## For North American video game sales, what’s the median?
* Provide secondary output showing ten games surrounding the median sales output
* assume that games with same median value are sorted in descending order
* median solution [here](https://youtu.be/dcqPhpY7tWk?t=249)

In [7]:
vg_df["NA_Sales"].median()

0.08

In [8]:
vg_df.groupby(["NA_Sales"]).median().head(10)
# vg_df.sort_values(by=['NA_Sales']).median()

             Rank    Year  EU_Sales  JP_Sales  Other_Sales  Global_Sales
NA_Sales
0.00      12859.0  2009.0      0.00      0.04         0.00          0.05
0.01      15526.0  2006.0      0.01      0.00         0.00          0.02
0.02      14478.5  2006.0      0.01      0.00         0.00          0.03
0.03      13294.0  2006.0      0.01      0.00         0.00          0.05
0.04      12675.0  2006.0      0.01      0.00         0.00          0.06
0.05      11846.5  2006.0      0.02      0.00         0.01          0.07
0.06      11196.0  2007.0      0.02      0.00         0.01          0.09
0.07      10568.0  2008.0      0.02      0.00         0.01          0.10
0.08      10014.0  2008.0      0.02      0.00         0.01          0.11
0.09       9455.0  2008.0      0.03      0.00         0.01          0.13

## For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?
* Wii Sports
* Solution = 50.80306374875828

In [9]:
vg_df['Global_Sales'].value_counts().idxmax()

0.02

In [10]:
# print(vg_df[['Name', 0]])
vg_df[vg_df['Rank']==1]['Name'][0]

'Wii Sports'

In [32]:
# vg_df[vg_df['Name']=="Wii Sports"]['NA_Sales'].std()
# stdev of na sales first
na_std = vg_df['NA_Sales'].std()
print(na_std)
# then looking at the mean for NA Sales
mean_std = vg_df['NA_Sales'].mean()
print(mean_std)
# determine what wii sports na sales are
ws_na_sales = vg_df[vg_df['Name'] == 'Wii Sports']['NA_Sales'][0]
ws_na_sales
# divide wii sports na sales by the number that was na.stdev
solution = ws_na_sales/na_std
print(solution)

0.8166830292988796
0.26466742981082064
50.80306374875828

## The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?
* | First Value − Second Value(First Value + Second Value)/2 | × 100%
* It has sold on average 15% more games than all other platforms combined

In [42]:
wii_sales_avg = vg_df[vg_df['Platform'] == 'Wii']['Global_Sales'].mean()
print(wii_sales_avg)

global_sales_avg_no_wii = vg_df[vg_df['Platform'] != 'Wii']['Global_Sales'].mean()
print(global_sales_avg_no_wii)

percent_difference = abs((wii_sales_avg-global_sales_avg_no_wii/((wii_sales_avg+global_sales_avg_no_wii)/2))*100)
print(percent_difference)

0.6994037735849057
0.5233896418516336
15.665193499900532

## What's the best selling game in Japan?

## Whic country buys the most games?

## Which year had the largest global sales?